body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    background-color: #222222; 
} 

.container { 
    padding: 40px; 
    justify-content: center;
    align-items: center;
    background-color: #141414; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width:350px; 
    text-align: center;
    border-radius: 10px;
} 

.form-group 
{ 
    margin-bottom: 15px; 
} 

.form-group label { 
    display: block; 
    margin-bottom: 5px; 
} 

.form-group input { 
    width: 250px; 
    padding: 10px; 
    cursor: pointer;
    border: 1px solid #ddd; 
    border-radius: 5px; 
} 

.form-group #passwordError, .form-group #usernameError { 
    color: rgba(198, 55, 55, 0.797); 
    font-size: 14px; 
    margin-top: 5px; 
}

.button {
    transition-duration: 0.4s;
    padding-top: 200px;
    background-color: #7bc24edc;
    width: 273px;
    padding: 7px;
    color: white;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}
  
.button:hover {
    background-color: white;
    color: black;
}

.fpassword{
    background-color: #141414;
    cursor: pointer;
    color: grey;
    border: 0px;
}